<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome to Robo Resume Application</title>


    </head>
    <body>
        <h1>Welcome to Robo Resume Application</h1>
        <p>
        <ul>
            <li><a href="addUser">Register New User Information</a></li>
            <li><a href="listAllUsers">List All User Information</a></li>
            <li><a href="workExp">Work Experience In Days</a></li>
        </ul>
        </p>

    </body>
</html>